---
apiVersion: v1
kind: ConfigMap
metadata:
  name: stash-config
data:
  PGID: "{{ .Values.deployment.groupID }}"
  PUID: "{{ .Values.deployment.userID }}"
  TZ:  "{{ .Values.deployment.timeZone }}"
  DOCKER_MODS: "{{ .Values.deployment.dockerMods }}" 

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "stash.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "stash.name" . }}
    helm.sh/chart: {{ include "stash.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  strategy:
    type: Recreate
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "stash.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "stash.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
    {{- if .Values.enableDLNA }}
      hostNetwork: true
    {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 9999
              protocol: TCP
          {{ if .Values.enableDLNA }}
            - name: dlna
              containerPort: 1900
              hostPort: 1900
              protocol: UDP
          {{- end }}
          envFrom:
            - configMapRef:
                name: stash-config  
          livenessProbe:
            tcpSocket:
              port: http
            initialDelaySeconds: 120
          startupProbe:
            tcpSocket:
              port: http
            failureThreshold: 20
            periodSeconds: 30
          readinessProbe:
            tcpSocket:
              port: http
          volumeMounts:
            {{- if .Values.persistence.config.enabled }}
            - mountPath: /config
              name: config
              subPath: {{ .Values.persistence.config.subPath }}
            {{- end }}
            - mountPath: /media
              name: media
            {{- if .Values.persistence.media.subPath }}
              subPath: {{ .Values.persistence.media.subPath }}
            {{- end }}
            {{- range .Values.persistence.extraExistingClaimMounts }}
            - name: {{ .name }}
              mountPath: {{ .mountPath }}
              readOnly: {{ .readOnly }}
            {{- end }}
            {{- if .Values.extraVolumeMounts }}
            {{- toYaml .Values.extraVolumeMounts | nindent 12 }}
            {{- end }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
      volumes:
      {{- if .Values.persistence.config.enabled }}
      - name: config
        persistentVolumeClaim:
          claimName: {{ if .Values.persistence.config.existingClaim }}{{ .Values.persistence.config.existingClaim }}{{- else }}{{ template "stash.fullname" . }}-config{{- end }}
      {{- end }}
      - name: media
      {{- if .Values.persistence.media.enabled }}
        persistentVolumeClaim:
          claimName: {{ if .Values.persistence.media.existingClaim }}{{ .Values.persistence.media.existingClaim }}{{- else }}{{ template "stash.fullname" . }}-media{{- end }}
      {{- else }}
        emptyDir: {}
      {{- end }}
      {{- range .Values.persistence.extraExistingClaimMounts }}
      - name: {{ .name }}
        persistentVolumeClaim:
          claimName: {{ .existingClaim }}
      {{- end }}
      {{- if .Values.extraVolumes }}
      {{- toYaml .Values.extraVolumes | nindent 6 }}
      {{- end }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
